SCHWAB_APP_KEY = your-app-key
SCHWAB_APP_SECRET = your-app-secret
CALLBACK_URL = "https://127.0.0.1"

# First create a .env copy from the example, $ cp .env.example .env
# Then replace with your own APP_KEY and APP_SECRET
